.contact-form-section.appreciation
  padding 0
  height calc(100vh - 100px)

  .appreciation-text
    width 90%
    max-width 500px

  a
    color white
    display block
    margin-top 1em

@media screen and (max-width: 876px)
  .contact-form-section.appreciation
    height calc(100vh - 75px)