.course-cover
  color white
  height calc(80vh - 95px)
  text-align center

  > div
    margin-top remify(-72)

.course-title
  font-size remify(36)
  font-weight $heavy

.course-subtitle
  display block
  font-size remify(16)
  font-weight $light
  margin-top remify(7)

.course-top-info
  background white
  border-radius 7px
  center-block()
  max-width 638px
  position relative
  top remify(-72)
  padding remify(34) remify(42) 0 remify(77)

.course-top-author
  width remify(163)
  position absolute
  left remify(-117)
  top remify(-37)

.course-author-text
  color $btndarkgreen
  font-size remify(18)
  font-weight $heavy

.course-about-text
  font-size remify(16)
  margin-top remify(16)
  line-height 1.4
  margin-bottom 0

.course-video-wrapper
  center-block()
  margin-top 0
  width 90%
  max-width 864px

.course-bottom-info
  background $lightgray
  margin-top remify(83)
  padding-top remify(42)
  padding-bottom remify(55)
  text-align center

  .indots-button
    display inline-block
    margin-top remify(56)

.course-bottom-about
  background white
  simple-border('all', 1px, $lightergray)
  width 90%
  max-width 755px
  center-block()
  transform translateX(67px)
  padding remify(45) remify(60)

.course-about-title
  color $btndarkgreen
  font-size remify(24)
  font-weight $heavy

.course-bottom-data
  color $listcolor
  text-align left
  font-weight $heavy
  font-size remify(18)
  margin-top remify(12)
  line-height 1.22

.course-green-text
  color #5b878a

@media screen and (max-width: 1000px)
  .course-top-info
    transform "translateX(%s)" %s = remify(60)

@media screen and (max-width: 960px)
  .course-bottom-about
    transform none

@media screen and (max-width: 742px)
  .course-cover > div
    margin-top -10px

  .course-top-info
    top -10px
    width "calc(100vw - %s)" %s = remify(60)
    margin-bottom remify(60)

  .course-green-text
    display block

  .course-bottom-data div:not(:first-child)
    margin-top remify(8)

@media screen and (max-width: 479px)
  .course-top-info
    transform none
    width 100%
    padding-left remify(42)
    padding-top remify(110)

  .course-top-author
    top 0
    left 50%
    transform translate(-50%, -50%)