.course-cover
  color white
  height calc(80vh - 95px)
  text-align center

  > div
    margin-top remify(-72)

.course-title
  font-size remify(36)
  font-weight $heavy

.course-subtitle
  display block
  font-size remify(16)
  font-weight $light
  margin-top remify(7)

.course-top-info
  background white
  border-radius 7px
  center-block()
  max-width 638px
  position relative
  top remify(-72)
  padding remify(34) remify(42) 0 remify(77)

.course-top-author
  width remify(163)
  position absolute
  left remify(-117)
  top remify(-37)

.course-author-text
  color $btndarkgreen
  font-size remify(18)
  font-weight $heavy

.course-about-text
  font-size remify(16)
  margin-top remify(16)
  line-height 1.4