.flash-indots-section
  padding-top remify(56)

  .blue-title::before
    height remify(42.2)
    width remify(29)
    margin-top remify(-10)
    margin-right remify(8)

  .flash-indots-introduction
    margin-top 0.7em

  .flash-indots-icons
    margin-top remify(56)

  .flash-indots-instructions
    margin-top remify(118)
    max-width 430px
    font-weight $heavy

  .flash-indots-items
    margin-top remify(13)
    margin-bottom remify(180)

.flash-indots
  text-align center
  center-block()
  max-width 891px
  width 90%

.flash-indots-introduction
  display block
  font-weight $heavy
  font-size remify(22)

.flash-indots-icons
  display flex
  flex-wrap wrap
  max-width 670px
  justify-content space-around
  center-block()
  text-align center

.flash-indots-icon-item
  flex-basis 117px

  &:first-child
    img
      height remify(32)
      margin remify(5) 0 remify(11) 0

  &:nth-child(2)
    img
      height remify(44)
      margin 0 0 remify(4) 0

  &:nth-child(3)
    img
      height remify(26)
      margin remify(4) 0 remify(18) 0

  &:nth-child(4)
    img
      height remify(35)
      margin remify(3) 0 remify(10) 0

  &.short
    flex-basis 58px

  img
    display inline-block
    transition transform 0.2s

    &:hover
      transform scale(1.3)

  span
    display block
    font-size remify(14)

.flash-indots-instructions
  display block
  center-block()
  font-size remify(22)
  line-height 0.95

.flash-indots-items
  display flex
  justify-content space-around
  flex-wrap wrap

.flash-indots-item
  cursor pointer
  background $lightgray
  font-size remify(18)
  margin-top 2em
  width 272px

.flash-indots-item-photo
  height 264px

.flash-indots-item-name
  text-align center
  min-height remify(80)

  span
    width 90%

[data-remodal-id="flash-indots-modal"]
  width 100%
  background transparent
  max-width 965px
  padding 0
  center-block()

  .remodal-close
    right 0
    left initial
    color white

    &::before
      font-size remify(40)
      text-align right

.flash-indots-modal-title
  color white
  font-size remify(38)

  &::before
    height remify(42.2)
    width remify(29)
    margin-top remify(-10)
    margin-right remify(8)

.flash-indots-modal-header
  width 783px
  center-block()
  position relative

.flash-indots-modal-body
  margin-top remify(80)

.flash-indots-carousel
  width 783px
  center-block()

  .slick-list,
  .slick-track
    height 100%

  .slick-prev,
  .slick-next
    color white
    cursor pointer
    background $btngreen
    position absolute
    height remify(43)
    top 50%
    z-index 3
    width remify(43)
    text-align center

    &::before
      font-size remify(30)
      line-height 1.35

  .slick-prev
    left remify(-33)
    transform translate(-100%, -50%)

  .slick-next
    right remify(-33)
    transform translate(100%, -50%)

  .slick-disabled
    display none !important

  .item
    background white
    display flex

.flash-indots-modal-item-title
  color $darkgray
  font-weight $heavy
  font-size remify(25)

  &::before
    height remify(33)
    width remify(23)
    margin-top remify(-10)
    margin-right remify(10)

.flash-indots-modal-item-photo
  flex-basis 297px
  height 287px

.flash-indots-modal-item-data
  align-self center
  flex-basis calc(100% - 297px)
  text-align left
  padding remify(21) remify(31) remify(21) remify(37)

.flash-indots-modal-item-description
  color $gray1
  font-weight $medium
  font-size remify(14)
  line-height 1.5
  margin-top remify(16)

.flash-indots-modal-item-info
  display flex
  max-width 320px
  width 100%
  justify-content space-between
  margin-top remify(20)

  div
    font-size remify(16)
    color $gray
    flex-basis 60px
    text-align center

  .flash-indots-green-text
    color $btngreen
    display block
    font-weight $heavy
    font-size remify(17)
    margin-bottom remify(7)

.flash-indots-modal-form
  display flex
  justify-content space-between
  margin-top remify(23)
  max-width 425px

  .input-wrapper
    flex-basis 278px

  .indots-button
    font-size remify(16)
    padding remify(16.5) remify(25)

@media screen and (max-width: 1000px)
  .flash-indots-modal-header,
  .flash-indots-carousel
    width 86%

  .flash-indots-carousel
    .slick-prev
      left remify(-10)

    .slick-next
      right remify(-10)

  .flash-indots-modal-item-photo
    height initial

  .flash-indots-modal-form
    flex-wrap wrap
    width 100%

    .input-wrapper,
    .button-wrapper
      flex-basis 100%

    .button-wrapper
      margin-top remify(15)
      text-align center

@media screen and (max-width: 820px)
  .flash-indots-modal-item-photo
    display none

  .flash-indots-modal-item-data
    flex-basis 100%
    text-align center

  .flash-indots-modal-item-info,
  .flash-indots-modal-form
    center-block()

@media screen and (max-width: 767px)
  .flash-indots-modal-body
    margin-top remify(30)

@media screen and (max-width: 479px)
  .flash-indots-modal-header
    width 90%

  .flash-indots-carousel
    width 75%

  .flash-indots-modal-item-title::before
    display none
    content ''

  .flash-indots-modal-item-info
    flex-wrap wrap
    justify-content space-around

    div
      flex-basis 40%

      &:nth-child(n + 3)
        margin-top remify(20)

@media screen and (max-width: 460px)
  .flash-indots-icon-item
    flex-basis 40% !important

    &:nth-child(n + 3)
      margin-top remify(50)
