.home-carousel
  color white
  height calc(95vh - 72px)

  @media screen and (orientation: portrait)
    @media screen and (min-height: 400px) and (min-width: 400px)
      max-height 76vw

  .slick-list,
  .slick-track
    height 100%

  .slick-prev,
  .slick-next
    cursor pointer
    background $blue
    position absolute
    height remify(43)
    bottom remify(34)
    z-index 3
    width remify(43)
    text-align center

    &::before
      font-size remify(30)
      line-height 1.35

  .slick-prev
    left 3%

  .slick-next
    right 3%

  .slick-disabled
    display none !important

  .item
    display flex
    height 100%
    padding-bottom 7em
    overflow hidden

    @media screen and (max-height: 400px)
      padding-bottom 3em

  .item-div
    width 80%
    min-width 288px
    text-align left
    position relative
    z-index 2

  .item-content
    max-width 344px

  .item-title
    font-size remify(39)

  .item-text
    font-size remify(18)
    line-height 1.17
    padding-bottom unit(38/18, 'em')
    margin-top unit(19/18, 'em')

  .indots-button
    font-size remify(18)
    padding 0.8em 1.2em

.home-introduction
  margin-top unit(89/18, 'em')
  margin-bottom unit(127/18, 'em')
  max-width 655px
  text-align center
  font-size remify(18)
  width 90%
  center-block()

  p
    line-height 1.17
    padding-bottom unit(39/18, 'em')

  .indots-button
    font-size remify(17)
    padding 1em 1.5em

.home-gradient
  background-image linear-gradient(to bottom, #57d0c3, rgba(0, 87, 123, 0.5)), linear-gradient(rgba(161, 209, 202, 0.63), rgba(161, 209, 202, 0.63))

.home-gradient-logo-section
  position relative
  padding remify(90) 0 remify(74) 0

.gradient-logo
  position absolute
  left 50%
  top 0
  transform translate(-50%, -38%)
  width remify(110)
  z-index 3

.home-gradient-items
  color white
  display flex
  align-items flex-start
  justify-content space-around
  flex-wrap wrap
  width 90%
  max-width 950px
  text-align center
  z-index 2
  center-block()

.home-gradient-item
  flex-basis 23%
  max-width 180px

  img
    height remify(38)

  p
    font-size remify(14)
    margin-top unit(23/14, 'em')

.top-courses
  center-block()
  text-align center
  max-width 880px
  width 90%
  padding remify(70) 0 remify(105) 0

  .courses-items
    margin-top remify(16)

.top-courses-title
  font-size remify(22)
  padding-bottom unit(33/22, 'em')

.top-courses-text
  font-size remify(18)
  width 100%
  max-width 655px
  line-height 1.17
  center-block()

.home-newsletter-div
  center-block()
  padding-top remify(63)
  padding-bottom remify(63)
  max-width 794px
  width 90%

.home-newsletter-title
  color white
  text-align center
  font-weight $medium
  font-size remify(18)
  line-height 1.17
  center-block()
  max-width 552px

#homepage-newsletter-form
  margin-top remify(14)

  .inputs
    display flex
    justify-content space-between

  .form-message
    margin-top remify(15)
    text-align center

  .input-wrapper,
  .button-wrapper
    margin-top remify(15)

    &:not(:last-child)
      flex-basis 312px

  .button-wrapper
    flex-basis 135px

  .contact-input
    font-size remify(17)
    font-weight $normal

  .indots-button
    font-size remify(16)
    padding 1.2em 1.75em

.home-flash-indots
  padding-top remify(67)

  .flash-indots-title
    font-size remify(28)

    &::before
      height remify(26)
      width remify(17.4)
      margin-top remify(-4)
      margin-right remify(9)

  .flash-indots-icons
    margin-top remify(43)

  .flash-indots-instructions
    margin-top unit(90/22, 'em')
    max-width 545px

  .flash-indots-items
    margin-top remify(49)

  .view-more
    display inline-block
    font-size remify(18)
    padding unit(15/18, 'em') unit(52/18, 'em')
    margin-top remify(91)
    margin-bottom remify(73)

.flash-indots-line
  display block
  height 1px
  border none
  margin-top remify(70)
  simple-border('top', 1px, $lightergray)
  center-block()
  max-width 510px
  width 80%

@media screen and (max-width: 880px)
  #homepage-newsletter-form
    flex-wrap wrap
    justify-content center

    .input-wrapper,
    .button-wrapper
      flex-basis 100% !important
      max-width 500px

    .button-wrapper
      text-align center

@media screen and (max-width: 730px)
  .home-gradient-item
    flex-basis 40%
    max-width initial

    &:nth-child(n + 3)
      margin-top remify(50)