{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Contacto
{% endblock %}

{% block content %}
<div class="contact-section">
  <div class="contact-form-container">
    <div class="contact-form-content">
      <h1 class="indots-title indots-font-LibreBaskerville-regular">Contacto</h1>
      <script type="text/javascript" src="https://app.getresponse.com/view_webform_v2.js?u=SvyhU&webforms_id=B01NP"></script>
    </div>
  </div>
</div>
{% endblock %}