{% extends "partials/course.njk" %}

{% block title %}
Meditación y mindfulness
{% endblock %}

{% block coursecover %}img/cursos/group-5@3x.png{% endblock %}
{% block coursetitle %}Meditación y mindfulness{% endblock %}
{% block coursesubtitle %}¿Quieres aprender y practicar la meditación?{% endblock %}

{% block courseauthorphoto %}img/cursos/impartido-img.png{% endblock %}
{% block courseauthor %}Vivián{% endblock %}
{% block courseabouttext %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque viverra justo a sapien condimentum, vel tincidunt justo blandit. Maecenas elementum, risus sodales accumsan feugiat, arcu sapien fermentum dolor, placerat tempor turpis elit vitae neque. Proin aliquet et dui at laoreet. Vestibulum vehicula, purus vitae viverra fermentum, arcu magna convallis ante, nec ultrices velit eros sit amet lacus. Duis nec justo dolor. Nulla dapibus accumsan nulla.
{% endblock %}

{% block coursevideo %}https://www.youtube.com/embed/YTR21os8gTA{% endblock %}

{% block courseduration %}4 días{% endblock %}
{% block courserecomendations %}
{% endblock %}
{% block courseauthorabout %}
{% endblock %}
{% block coursehelpful %}
{% endblock %}
{% block coursebenefits %}
{% endblock %}