{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Videos
{% endblock %}

{% block content %}
<div class="flash-indots flash-indots-section">
  <h1 class="flash-indots-icon-title blue-title indots-font-LibreBaskerville-regular">Videos</h1>
  <div class="flash-indots-items">
    <div class="flash-indots-item" data-item-video='<iframe width="560" height="315" src="https://www.youtube.com/embed/BFXJeLm1gpo" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>'>
      <div class="flash-indots-item-photo flash-indots-cover" style="background-image: url(img/thumbnails/se-co-creador.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span class="indots-font-cabin-regular">Se Co-creador</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-video='<iframe width="560" height="315" src="https://www.youtube.com/embed/cFRadgwU0z8" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>'>
      <div class="flash-indots-item-photo flash-indots-cover" style="background-image: url(img/thumbnails/somos-uno.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span class="indots-font-cabin-regular">Somos Uno</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-video='<iframe width="560" height="315" src="https://www.youtube.com/embed/wkAvVzl2rzM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>'>
      <div class="flash-indots-item-photo flash-indots-cover" style="background-image: url(img/thumbnails/confia-en-ti.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span class="indots-font-cabin-regular">Confía en ti</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-video='<iframe width="560" height="315" src="https://www.youtube.com/embed/ysNN2MEeHLs" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>'>
      <div class="flash-indots-item-photo flash-indots-cover" style="background-image: url(img/thumbnails/despierta-conciencia.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span class="indots-font-cabin-regular">Despierta tu conciencia</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-video='<iframe src="https://player.vimeo.com/video/229288813?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'>
      <div class="flash-indots-item-photo flash-indots-cover" style="background-image: url(img/thumbnails/tres-cerebros.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span class="indots-font-cabin-regular">Lo Tres Cerebros</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-video='<iframe src="https://player.vimeo.com/video/228828674?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'>
      <div class="flash-indots-item-photo flash-indots-cover" style="background-image: url(img/thumbnails/tipos-pareja.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span class="indots-font-cabin-regular">Los tres tipos de pareja - Mariano Barragán</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-video='<iframe src="https://player.vimeo.com/video/228697393?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'>
      <div class="flash-indots-item-photo flash-indots-cover" style="background-image: url(img/thumbnails/meditacion-vida-diaria.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span class="indots-font-cabin-regular">Meditación para la vida diaria</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-video='<iframe src="https://player.vimeo.com/video/213748366?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'>
      <div class="flash-indots-item-photo flash-indots-cover" style="background-image: url(img/thumbnails/curso-meditacion.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span class="indots-font-cabin-regular">Video Vivian Toussieh</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-video='<iframe src="https://player.vimeo.com/video/211391294?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'>
      <div class="flash-indots-item-photo flash-indots-cover" style="background-image: url(img/thumbnails/curso-meditacion.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span class="indots-font-cabin-regular">Curso de meditación para la vida diaria</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-video='<iframe src="https://player.vimeo.com/video/211758227?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'>
      <div class="flash-indots-item-photo flash-indots-cover" style="background-image: url(img/thumbnails/mindfulness.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span class="indots-font-cabin-regular">Mindfulness</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-video='<iframe src="https://player.vimeo.com/video/236810309?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'>
      <div class="flash-indots-item-photo flash-indots-cover" style="background-image: url(img/thumbnails/indots-verde.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span class="indots-font-cabin-regular">Indots Verde</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-video='<iframe src="https://player.vimeo.com/video/236809073?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'>
      <div class="flash-indots-item-photo flash-indots-cover" style="background-image: url(img/thumbnails/campania.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span class="indots-font-cabin-regular">Indots Verde Campaña</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-video='<iframe src="https://player.vimeo.com/video/222722541?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' data-item-video-second='<iframe src="https://player.vimeo.com/video/222723431?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' data-item-video-third='<iframe src="https://player.vimeo.com/video/222724543?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'>
      <div class="flash-indots-item-photo flash-indots-cover" style="background-image: url(img/thumbnails/clase-meditacion.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span class="indots-font-cabin-regular">Clase de meditación (Miriam Hamui)</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-video='<iframe src="https://player.vimeo.com/video/222721586?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' data-item-video-second='<iframe src="https://player.vimeo.com/video/223344974?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' data-item-video-third='<iframe src="https://player.vimeo.com/video/223363670?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'>
      <div class="flash-indots-item-photo flash-indots-cover" style="background-image: url(img/thumbnails/conciencia.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span class="indots-font-cabin-regular">Despierta tu Conciencia (Anita Rubinstein)</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-video='<iframe src="https://player.vimeo.com/video/222716691?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' data-item-video-second='<iframe src="https://player.vimeo.com/video/222716546?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' data-item-video-third='<iframe src="https://player.vimeo.com/video/223531934?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'>
      <div class="flash-indots-item-photo flash-indots-cover" style="background-image: url(img/thumbnails/vinculo-claridad-pareja.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span class="indots-font-cabin-regular">El vínculo y la claridad en la pareja (Mariano Barragán)</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
