{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Flash InDots
{% endblock %}

{% block content %}
<div class="flash-indots flash-indots-section">
  <h1 class="blue-title">Flash InDots</h1>
  <span class="flash-indots-introduction">Cursos sin costo por correo</span>
</div>
<div class="flash-indots-icons">
  <div class="flash-indots-icon-item">
    <img src="/img/icons/r-e-a-d@3x.png" alt="Icono" />
    <span>5 minutos de lectura al día</span>
  </div>
  <div class="flash-indots-icon-item">
    <img src="/img/icons/group-21@3x.png" alt="Icono" />
    <span>Los expertos a tu alcance</span>
  </div>
  <div class="flash-indots-icon-item short">
    <img src="/img/icons/c-a-l-e-n-d-a-r@3x.png" alt="Icono" />
    <span>5 días de curso</span>
  </div>
  <div class="flash-indots-icon-item short">
    <img src="/img/icons/c-l-o-c-k@3x.png" alt="Icono" />
    <span>1 curso a la vez</span>
  </div>
</div>
<span class="flash-indots-instructions">Selecciona el curso que más te llame la atención e inscríbete ¡gratis!</span>
<div class="flash-indots-items">
  <div class="flash-indots-item">
    <div class="flash-indots-item-photo cover" style="background-image: url(img/thumbnails/group-27@3x-new.png)"></div>
    <div class="flash-indots-item-name vertical-center">
      <span>Inteligencia emocional</span>
    </div>
  </div>
  <div class="flash-indots-item">
    <div class="flash-indots-item-photo cover" style="background-image: url(img/thumbnails/group-32@3x-new.png)"></div>
    <div class="flash-indots-item-name vertical-center">
      <span>Encuentra tu voz creativa</span>
    </div>
  </div>
  <div class="flash-indots-item">
    <div class="flash-indots-item-photo cover" style="background-image: url(/img/thumbnails/group-29@3x-new.png)"></div>
    <div class="flash-indots-item-name vertical-center">
      <span>Comunicación efectiva</span>
    </div>
  </div>
  <div class="flash-indots-item">
    <div class="flash-indots-item-photo cover" style="background-image: url(img/thumbnails/thumb-4.png)"></div>
    <div class="flash-indots-item-name vertical-center">
      <span>Meditación en la vida cotidiana</span>
    </div>
  </div>
  <div class="flash-indots-item">
    <div class="flash-indots-item-photo cover" style="background-image: url(img/thumbnails/thumb-5.png)"></div>
    <div class="flash-indots-item-name vertical-center">
      <span>Cómo publicar tu libro</span>
    </div>
  </div>
  <div class="flash-indots-item">
    <div class="flash-indots-item-photo cover" style="background-image: url(/img/thumbnails/thumb-6.png)"></div>
    <div class="flash-indots-item-name vertical-center">
      <span>Manejo de estrés</span>
    </div>
  </div>
  <div class="flash-indots-item">
    <div class="flash-indots-item-photo cover" style="background-image: url(img/thumbnails/thumb-7.png)"></div>
    <div class="flash-indots-item-name vertical-center">
      <span>Alimentación consciente</span>
    </div>
  </div>
  <div class="flash-indots-item">
    <div class="flash-indots-item-photo cover" style="background-image: url(img/thumbnails/thumb-8.png)"></div>
    <div class="flash-indots-item-name vertical-center">
      <span>Los 12 pasos para la recuperación de las adicciones</span>
    </div>
  </div>
  <div class="flash-indots-item">
    <div class="flash-indots-item-photo cover" style="background-image: url(/img/thumbnails/thumb-9.png)"></div>
    <div class="flash-indots-item-name vertical-center">
      <span>Crea la pirámide de valores para tu vida</span>
    </div>
  </div>
  <div class="flash-indots-item">
    <div class="flash-indots-item-photo cover" style="background-image: url(img/thumbnails/thumb-10.png)"></div>
    <div class="flash-indots-item-name vertical-center">
      <span>Mejora tu autoestima</span>
    </div>
  </div>
  <div class="flash-indots-item">
    <div class="flash-indots-item-photo cover" style="background-image: url(img/thumbnails/thumb-11.png)"></div>
    <div class="flash-indots-item-name vertical-center">
      <span>Entendiendo las 5’s</span>
    </div>
  </div>
</div>
{% endblock %}