{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Flash InDots
{% endblock %}

{% block content %}
<div class="flash-indots flash-indots-section">
  <h1 class="flash-indots-icon-title blue-title">Flash InDots</h1>
  <span class="flash-indots-introduction">Cursos sin costo por correo</span>
  {% include "partials/flash-indots-icons.njk" %}
  <span class="flash-indots-instructions">Selecciona el curso que más te llame la atención e inscríbete ¡gratis!</span>
  <div class="flash-indots-items">
    <div class="flash-indots-item" data-item-description="Si quieres tener éxito en cualquier área de tu vida, la inteligencia emocional es esencial. Descubre qué es y cómo lograrla."
         data-item-format="Email" data-item-duration="5 días"
         data-item-lesson-duration="5 min." data-item-price="Gratis"
         data-item-campaign-token="nRjR6" data-item-thank-url="dev.indots.com/gracias.html/" data-item-foward-data="get">
      <div class="flash-indots-item-photo cover" style="background-image: url(img/thumbnails/inteligencia-emocional.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span>Inteligencia emocional</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-description="Si quieres tener éxito en cualquier área de tu vida, la inteligencia emocional es esencial. Descubre qué es y cómo lograrla." data-item-format="Email" data-item-duration="5 días" data-item-lesson-duration="5 min." data-item-price="Gratis" data-item-campaign-token="token" data-item-thank-url="/gracias.html" data-item-foward-data="data">
      <div class="flash-indots-item-photo cover" style="background-image: url(img/thumbnails/encuentra-tu-voz.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span>Encuentra tu voz creativa</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-description="Si quieres tener éxito en cualquier área de tu vida, la inteligencia emocional es esencial. Descubre qué es y cómo lograrla." data-item-format="Email" data-item-duration="5 días" data-item-lesson-duration="5 min." data-item-price="Gratis" data-item-campaign-token="token" data-item-thank-url="/gracias.html" data-item-foward-data="data">
      <div class="flash-indots-item-photo cover" style="background-image: url(img/thumbnails/comunicacion-efectiva.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span>Comunicación efectiva</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-description="Si quieres tener éxito en cualquier área de tu vida, la inteligencia emocional es esencial. Descubre qué es y cómo lograrla." data-item-format="Email" data-item-duration="5 días" data-item-lesson-duration="5 min." data-item-price="Gratis" data-item-campaign-token="token" data-item-thank-url="/gracias.html" data-item-foward-data="data">
      <div class="flash-indots-item-photo cover" style="background-image: url(img/thumbnails/meditacion-cotidiana.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span>Meditación en la vida cotidiana</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-description="Si quieres tener éxito en cualquier área de tu vida, la inteligencia emocional es esencial. Descubre qué es y cómo lograrla." data-item-format="Email" data-item-duration="5 días" data-item-lesson-duration="5 min." data-item-price="Gratis" data-item-campaign-token="token" data-item-thank-url="/gracias.html" data-item-foward-data="data">
      <div class="flash-indots-item-photo cover" style="background-image: url(img/thumbnails/publicar-libro.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span>Cómo publicar tu libro</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-description="Si quieres tener éxito en cualquier área de tu vida, la inteligencia emocional es esencial. Descubre qué es y cómo lograrla." data-item-format="Email" data-item-duration="5 días" data-item-lesson-duration="5 min." data-item-price="Gratis" data-item-campaign-token="token" data-item-thank-url="/gracias.html" data-item-foward-data="data">
      <div class="flash-indots-item-photo cover" style="background-image: url(img/thumbnails/manejo-estres.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span>Manejo de estrés</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-description="Si quieres tener éxito en cualquier área de tu vida, la inteligencia emocional es esencial. Descubre qué es y cómo lograrla." data-item-format="Email" data-item-duration="5 días" data-item-lesson-duration="5 min." data-item-price="Gratis" data-item-campaign-token="token" data-item-thank-url="/gracias.html" data-item-foward-data="data">
      <div class="flash-indots-item-photo cover" style="background-image: url(img/thumbnails/alimentacion-consciente.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span>Alimentación consciente</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-description="Si quieres tener éxito en cualquier área de tu vida, la inteligencia emocional es esencial. Descubre qué es y cómo lograrla." data-item-format="Email" data-item-duration="5 días" data-item-lesson-duration="5 min." data-item-price="Gratis" data-item-campaign-token="token" data-item-thank-url="/gracias.html" data-item-foward-data="data">
      <div class="flash-indots-item-photo cover" style="background-image: url(img/thumbnails/12-pasos-adicciones.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span>Los 12 pasos para la recuperación de las adicciones</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-description="Si quieres tener éxito en cualquier área de tu vida, la inteligencia emocional es esencial. Descubre qué es y cómo lograrla." data-item-format="Email" data-item-duration="5 días" data-item-lesson-duration="5 min." data-item-price="Gratis" data-item-campaign-token="token" data-item-thank-url="/gracias.html" data-item-foward-data="data">
      <div class="flash-indots-item-photo cover" style="background-image: url(img/thumbnails/piramide-valores.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span>Crea la pirámide de valores para tu vida</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-description="Si quieres tener éxito en cualquier área de tu vida, la inteligencia emocional es esencial. Descubre qué es y cómo lograrla." data-item-format="Email" data-item-duration="5 días" data-item-lesson-duration="5 min." data-item-price="Gratis" data-item-campaign-token="token" data-item-thank-url="/gracias.html" data-item-foward-data="data">
      <div class="flash-indots-item-photo cover" style="background-image: url(img/thumbnails/mejorar-autoestima.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span>Mejora tu autoestima</span>
      </div>
    </div>
    <div class="flash-indots-item" data-item-description="Si quieres tener éxito en cualquier área de tu vida, la inteligencia emocional es esencial. Descubre qué es y cómo lograrla." data-item-format="Email" data-item-duration="5 días" data-item-lesson-duration="5 min." data-item-price="Gratis" data-item-campaign-token="token" data-item-thank-url="/gracias.html" data-item-foward-data="data">
      <div class="flash-indots-item-photo cover" style="background-image: url(img/thumbnails/5-s.png)"></div>
      <div class="flash-indots-item-name vertical-center">
        <span>Entendiendo las 5’s</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
