{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Contacto
{% endblock %}

{% block content %}
<div class="contact-form-section vertical-center appreciation">
  <div class="appreciation-message">
    <h1 class="blue-title">Gracias por tu mensaje</h1>
    <a href="index.html">Volver al inicio</a>
  </div>
</div>
{% endblock %}