{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div class="homepage-container">
  <div class="homepage-cover">
    <img class="homepage-cover-img" src="img/backgrounds/homepage-cover.png">
  </div>

  <div class="homepage-second-section">
    <div class="homepage-second-section-cards">
      <a href="">
        <div class="homepage-second-section-card-container">
          <img class="homepage-section-card" src="img/homepage/homepage-section-card-1.png">
        </div>
      </a>
      <a href="">
        <div class="homepage-second-section-card-container">
          <img class="homepage-section-card" src="img/homepage/homepage-section-card-2.png">
        </div>
      </a>
      <a href="">
        <div class="homepage-second-section-card-container">
          <img class="homepage-section-card" src="img/homepage/homepage-section-card-3.png">
        </div>
      </a>
    </div>
    <div class="home-sections-carousel">
      <a href="">
        <div class="homepage-second-section-card-container">
          <img class="homepage-section-card" src="img/homepage/homepage-section-card-1.png">
        </div>
      </a>
      <a href="">
        <div class="homepage-second-section-card-container">
          <img class="homepage-section-card" src="img/homepage/homepage-section-card-2.png">
        </div>
      </a>
      <a href="">
        <div class="homepage-second-section-card-container">
          <img class="homepage-section-card" src="img/homepage/homepage-section-card-3.png">
        </div>
      </a>
    </div>
  </div>

  <div class="homepage-third-section">
    <div class="homepage-third-section-infor-container">
      <div class="homepage-third-section-title-container">
        <h1 class="indots-title indots-font-LibreBaskerville-regular no-margin-text">InDots Verde</h1>
      </div>
      <div>
        <p class="indots-text indots-font-cabin-regular no-margin-text">
          Indots verde, es un sistema en línea creado para darte herramientas y llevar a la práctica un conjunto de pequeñas acciones que puedes adoptar para ayudar a restaurar la armonía perdida entre la humanidad y la naturaleza.
        </p>
        <div class="homepage-third-section-info-special">
          <div class="homepage-third-section-decorator"></div>
          <p class="indots-text indots-font-cabin-italic no-margin-text">
            A través de información, videos, publicaciones y acciones, queremos mostrarte maneras sencillas de cómo puedes utilizar los recursos que están a tu alcance, y herramientas prácticas para gozar de tu mundo sin dañarlo.
          </p>
        </div>
        <div>
          <p class="indots-text indots-font-cabin-regular no-margin-text">
            Empezar a tomar pequeñas acciones tanto en nuestras vidas como en nuestras propias comunidades, va a hacer que marquemos la diferencia.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="homepage-third-section-img-container">
        <img class="homepage-img-1" src="img/homepage/homepage-img-1.png">
        <div>
          <a href="">
            <button class="indots-btn-base indots-font-cabin-regular">Ir a indots verde</button>
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="home-gradient home-gradient-logo-section">
    <img src="img/logo/logo.png" alt="Logo" class="gradient-logo" />
    <div class="home-gradient-items" data-enllax-type="foreground" data-enllax-ratio=".2">
      <div class="home-gradient-item">
        <img src="img/homepage/homepage-icon-1.png" alt="Icono" />
        <div class="diamond-purple"></div>
        <p class="indots-font-cabin-semibold-italic">
          ACCIONES<br>PERSONALES
        </p>
      </div>
      <div class="home-gradient-item">
        <img src="img/homepage/homepage-icon-2.png" alt="Icono" />
        <div class="diamond-purple"></div>
        <p class="indots-font-cabin-semibold-italic">
          ACCIONES POR TU<br>COMUNIDAD
        </p>
      </div>
      <div class="home-gradient-item">
        <img src="img/homepage/homepage-icon-3.png" alt="Icono" />
        <div class="diamond-purple"></div>
        <p class="indots-font-cabin-semibold-italic">
          EDUCACION A<br>NUESTROS HIJOS
        </p>
      </div>
      <div class="home-gradient-item">
        <img src="img/homepage/homepage-icon-4.png" alt="Icono" />
        <div class="diamond-purple"></div>
        <p class="indots-font-cabin-semibold-italic">
          APOYO A<br>INSTITUCIONES
        </p>
      </div>
    </div>
  </div>

  <div class="homepage-five-section">
    <div class="homepage-five-section-content">
      <h1 class="indots-title indots-font-LibreBaskerville-regular no-margin-text">Cursos Destacados</h1>
      <div class="homepage-five-section-description-container">
        <p class="indots-text indots-font-cabin-regular no-margin-text homepage-five-section-description">
        En InDots diseñamos con los mejores autores, experiencias para que aprendas los temas que más te interesan de manera rápida, sencilla y fácil de usar.
      </p>
      </div>
    </div>
    <div class="homepage-five-section-footer">
      <div class="homepage-five-section-courses-container">
        <a href="">
          <img class="homepage-five-section-courses" src="img/homepage/homepage-course-2.jpg">
        </a>
        <a href="">
          <img class="homepage-five-section-courses course-link-margin" src="img/homepage/homepage-course-1.jpg">
        </a>
      </div>
    </div>
    <div class="homepage-courses-carousel">
        <div>
          <a href="">
            <img class="homepage-five-section-courses" src="img/homepage/homepage-course-2.jpg">
          </a>
        </div>
        <div>
          <a href="">
            <img class="homepage-five-section-courses" src="img/homepage/homepage-course-1.jpg">
          </a>
        </div>
      </div>
  </div>

  <div class="homepage-six-section">
    <div class="homepage-six-section-content">
      <img class="homepage-form-img" src="img/homepage/homepage-form-img.png">
      <div class="homepage-form-container">
        <form class="hoepage-form-content">
          <input class="indots-input-base indots-font-cabin-regular" type="text" name="name" placeholder="Nombre completo">
          <input class="indots-input-base indots-font-cabin-regular" type="email" name="email" placeholder="Correo electrónico">
          <div>
            <input class="indots-btn-base" type="submit" name="" value="Suscribirme">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_inline %}
<script type="text/javascript">
  $('.home-carousel').slick({
    infinite: false,
    prevArrow: '<span class="slick-prev circle fa fa-angle-left"></span>',
    nextArrow: '<span class="slick-next circle fa fa-angle-right"></span>'
  });
  $(window).enllax();
</script>
{% endblock %}