{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Magazine
{% endblock %}

{% block content %}
<div class="courses-section">
  <h1 class="blue-title indots-font-LibreBaskerville-regular">Indots Magazine</h1>
  <div class="courses-items">
    <a href="https://consciencia.indots.com/revista-no1/" class="courses-item magazine-item" target="_blank">
      <div class="courses-item-photo cover magazine-mosaic-container" style="background-image: url(img/thumbnails/indots-magazine-1.png)"></div>
    </a>
    <a href="https://consciencia.indots.com/revista-no2/" class="courses-item magazine-item" target="_blank">
      <div class="courses-item-photo cover magazine-mosaic-container" style="background-image: url(img/thumbnails/indots-magazine-2.png)"></div>
    </a>
    <a href="https://consciencia.indots.com/revista-no3/" class="courses-item magazine-item" target="_blank">
      <div class="courses-item-photo cover magazine-mosaic-container" style="background-image: url(img/thumbnails/indots-magazine-3.png)"></div>
    </a>
  </div>
</div>
{% endblock %}
