{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Nuestros cursos
{% endblock %}

{% block content %}
<div class="courses-section">
  <h1 class="blue-title">Nuestros cursos</h1>
  <p class="courses-introduction">
    En InDots encontrarás herramientas para desarrollar tus pasiones y tu potencial a través de material multimedia, artículos y cursos en línea, contribuyendo a que vivas de una forma increíble.
  </p>
  <div class="courses-items">
    <a href="curso-test.html" class="courses-item">
      <h3 class="courses-item-title">Meditación y mindfulness</h3>
      <div class="courses-item-photo cover" style="background-image: url(img/thumbnails/meditacion.png)"></div>
      <div class="courses-item-info">
        <div class="courses-item-title-author">
          <img src="img/authors/author-vivian.png" alt="Foto" class="courses-item-author-photo circle" />
          <span class="courses-item-introduction">¿Quieres aprender y practicar la meditación?</span>
        </div>
        <p class="courses-item-description">
          Conoce técnicas para reducir tu nivel de estrés y ansiedad
        </p>
      </div>
    </a>
    <a href="curso-test.html" class="courses-item">
      <h3 class="courses-item-title">Curso de pareja</h3>
      <div class="courses-item-photo cover" style="background-image: url(img/thumbnails/pareja.png)"></div>
      <div class="courses-item-info">
        <div class="courses-item-title-author">
          <img src="img/authors/author-2.png" alt="Foto" class="courses-item-author-photo circle" />
          <span class="courses-item-introduction">¿Te gustaría mejorar tu relación? ¿Quieres saber cómo relacionarte con tu pareja?</span>
        </div>
        <p class="courses-item-description">
          Encuentra las claves para revivir y recuperar la relación con tu pareja
        </p>
      </div>
    </a>
    <a href="curso-test.html" class="courses-item">
      <h3 class="courses-item-title">Curso de Paterninad</h3>
      <div class="courses-item-photo cover" style="background-image: url(img/thumbnails/paternidad.png)"></div>
      <div class="courses-item-info">
        <div class="courses-item-title-author">
          <img src="img/authors/author-vivian.png" alt="Foto" class="courses-item-author-photo circle" />
          <span class="courses-item-introduction">Aprende cómo mejorar la relación y el vínculo con tus hijos</span>
        </div>
        <p class="courses-item-description">
          Guía práctica para la convivencia con tu familia
        </p>
      </div>
    </a>
    <a href="curso-test.html" class="courses-item">
      <h3 class="courses-item-title">Curso de sexualidad</h3>
      <div class="courses-item-photo cover" style="background-image: url(img/thumbnails/sexualidad.png)"></div>
      <div class="courses-item-info">
        <div class="courses-item-title-author">
          <img src="img/authors/author-2.png" alt="Foto" class="courses-item-author-photo circle" />
          <span class="courses-item-introduction">¿Sabías que la química de tu cuerpo influye en gran medida tu vida sexual?</span>
        </div>
        <p class="courses-item-description">
          ¿Quieres descubrir el poder de tu sexualidad?
        </p>
      </div>
    </a>
  </div>
</div>
{% endblock %}