{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Nuestros cursos
{% endblock %}

{% block content %}
<div class="courses-section">
  <h1 class="blue-title indots-font-LibreBaskerville-regular">Nuestros cursos</h1>
  <p class="courses-introduction indots-font-cabin-regular">
    En InDots encontrarás herramientas para desarrollar tus pasiones y tu potencial a través de material multimedia, artículos y cursos en línea, contribuyendo a que vivas de una forma increíble.
  </p>
  <div class="courses-items">
    <a href="curso-test.html" class="courses-item courses-item-modifier">
      <div class="courses-item-photo cover courses-item-photo-modifier" style="background-image: url(img/homepage/homepage-course-1.jpg)"></div>
    </a>
    <a href="curso-test.html" class="courses-item courses-item-modifier">
      <div class="courses-item-photo cover courses-item-photo-modifier" style="background-image: url(img/homepage/homepage-course-2.jpg)"></div>
    </a>
  </div>
</div>
{% endblock %}