<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url" content="https://blicklabs.github.io/InDots/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Indots" />
    <meta property="og:description" content="InDots surge cómo una propuesta para la vida contemporánea: rápida, tecnológica y con necesidad de nuevas formas de conectar. Con nuestras herramientas multimedia encontrarás información y técnicas disponibles para relacionarte con su mundo interno y externo de una forma más eficiente. " />
    <meta property="og:image" content="https://blicklabs.github.io/InDots/img/backgrounds/homepage-cover.png" />
    <meta name="keywords" content="indots verde">
    {% block meta %}{% endblock %}
    <link rel="stylesheet" href="css/{{ projectName }}.libs.css">
    <link rel="stylesheet" href="css/main.css">
    <link runat="server" rel="shortcut icon" href="img/favicon/favicon.png" type="image/x-icon"/>
    <link runat="server" rel="icon" href="img/favicon/favicon.ico" type="image/ico"/>
    <title>{% if section != 'index' %}{% block title %}{% endblock %} - {% endif %}{{ pageTitle }}</title>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111091215-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111091215-1');
    </script>

  </head>
  <body>
    <div id="page">
      {% include 'partials/navbar.njk' %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% include 'partials/footer.njk' %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    <script src="js/{{ projectName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="js/{{ projectName }}.js"></script>
    {% block js_inline %}
    {% endblock %}
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a555deb3599c413"></script>
  </body>
</html>
