{% extends "partials/base.njk" %}

{% block content %}
<div class="course-cover cover vertical-center" style="background-image: url({% block coursecover %}{% endblock %})">
  <div>
    <h1 class="course-title">{% block coursetitle %}{% endblock %}</h1>
    <span class="course-subtitle">{% block coursesubtitle %}{% endblock %}</span>
  </div>
</div>
<div class="course-top-info">
  <img src="{% block courseauthorphoto %}{% endblock %}" alt="Autor" class="course-top-author" />
  <div class="course-top-data">
    <span class="course-author-text">Curso impartido por {% block courseauthor %}{% endblock %}</span>
    <p class="course-about-text">{% block courseabouttext %}{% endblock %}</p>
  </div>
</div>
<div class="course-video-wrapper">
  <iframe src="{% block coursevideo %}{% endblock %}"></iframe>
</div>
<div class="course-bottom-info">
  <div class="course-bottom-about">
    <h2 class="course-about-title">Acerca del curso</h2>
    <div class="course-bottom-data">
      <div>
        <span class="course-green-text">Duración: </span>
        {% block courseduration %}{% endblock %}
      </div>
      <div>
        <span class="course-green-text">Recomendaciones: </span>
        {% block courserecomendations %}{% endblock %}
      </div>
      <div>
        <span class="course-green-text">Acerca de quien lo imparte: </span>
        {% block courseauthorabout %}{% endblock %}
      </div>
      <div>
        <span class="course-green-text">Para qué te va a ayudar: </span>
        {% block coursehelpful %}{% endblock %}
      </div>
      <div>
        <span class="course-green-text">Beneficios: </span>
        {% block coursebenefits %}{% endblock %}
      </div>
    </div>
  </div>
  <a href="#" class="indots-button blue">Inscribirme</a>
</div>
{% endblock %}