<div class="flash-indots-icons">
  <div class="flash-indots-icon-item">
    <img src="img/icons/read.png" alt="Icono" />
    <span>5 minutos de lectura al día</span>
  </div>
  <div class="flash-indots-icon-item">
    <img src="img/icons/user.png" alt="Icono" />
    <span>Los expertos a tu alcance</span>
  </div>
  <div class="flash-indots-icon-item short">
    <img src="img/icons/calendar.png" alt="Icono" />
    <span>5 días de curso</span>
  </div>
  <div class="flash-indots-icon-item short">
    <img src="img/icons/clock.png" alt="Icono" />
    <span>1 curso a la vez</span>
  </div>
</div>