<footer>
  <div class="footer-div">
    <div class="footer-left-column">
      <img src="img/logo/logo-full.png" alt="Logo" class="footer-logo" />
      <div class="footer-copyright-info">
        Derechos reservados,<br>
        Indots 2017
      </div>
    </div>
    <hr class="footer-divider">
    <div class="footer-right-column">
      <div class="footer-section-links-container">
        <div class="footer-column-content">
          <a href="index.html" class="footer-link-anchor">
            <span class="footer-link indots-font-cabin-regular" style="{% if section == 'index' %} font-weight: bold; color: #735d72; {% endif %}">INICIO</span>
          </a>
          <a href="que-es-indots.html" class="footer-link-anchor">
            <span class="footer-link indots-font-cabin-regular" style="{% if section == 'que-es-indots' %} font-weight: bold; color: #735d72; {% endif %}">QUÉ ES INDOTS</span>
          </a>
          <a href="nuestros-cursos.html" class="footer-link-anchor">
            <span class="footer-link indots-font-cabin-regular" style="{% if section == 'nuestros-cursos' %} font-weight: bold; color: #735d72; {% endif %}">NUESTROS CURSOS</span>
          </a>
          <a href="flash-indots.html" class="footer-link-anchor">
            <span class="footer-link indots-font-cabin-regular" style="{% if section == 'flash-indots' %} font-weight: bold; color: #735d72; {% endif %}">VIDEOS</span>
          </a>
        </div>
        <div class="footer-column-content">
          <a href="" class="footer-link-anchor">
            <span class="footer-link indots-font-cabin-regular">INDOTS VERDE</span>
          </a>
          <a href="" class="footer-link-anchor">
            <span class="footer-link indots-font-cabin-regular">BLOG</span>
          </a>
          <a href="contacto.html" class="footer-link-anchor">
            <span class="footer-link indots-font-cabin-regular" style="{% if section == 'contacto' %} font-weight: bold; color: #735d72; {% endif %}">CONTACTO</span>
          </a>
          <a href="" class="footer-link-anchor">
            <span class="footer-email indots-font-cabin-regular">contacto@indots.com</span>
          </a>
        </div>
      </div>
      <div class="footer-icons-container">
        <a href="https://www.instagram.com/indotslatam/" class="footer-link-anchor" target="_blank">
          <img src="img/icons/instagram-logo.png" class="footer-social-network-icon">
        </a>
        <a href="https://www.facebook.com/InDotsLatam/" class="footer-link-anchor" target="_blank">
          <img src="img/icons/facebook-logo.png" class="footer-social-network-icon">
        </a>
        <a href="https://twitter.com/indotslatam" class="footer-link-anchor" target="_blank">
          <img src="img/icons/twitter-logo.png" class="footer-social-network-icon">
        </a>
      </div>
    </div>
  </div>
</footer>
