<footer>
  <div class="footer-div">
    <div class="footer-left-column">
      <img src="img/logo/logo-full-white.png" alt="Logo" class="footer-logo" />
      <div class="footer-copyright-info">
        © InDots, 2016. <br>
        Todos los derechos reservados
      </div>
      <div class="footer-contact-info">
        <div class="footer-social-media">
          <span class="footer-green-text">Síguenos en:</span>
          <a href="#" target="_blank" class="fa fa-instagram footer-social-media-item"></a>
          <a href="#" target="_blank" class="fa fa-facebook-square footer-social-media-item"></a>
          <a href="#" target="_blank" class="fa fa-twitter footer-social-media-item"></a>
        </div>
        <div class="footer-email-div">
          <span class="footer-green-text">Escríbenos a:</span>
          <span class="footer-email-span">InDotsMX@gmail.com</span>
        </div>
      </div>
    </div>
    <hr class="footer-divider">
    <div class="footer-right-column">
      <form id="footer-newsletter-form" action="." data-ajax-form>
        <h2 class="footer-newsletter-title">Suscríbete a nuestro Newsletter</h2>
        <div class="input-wrapper">
          <input class="contact-input" type="email" name="email" placeholder="Correo electrónico">
        </div>
        <div class="form-message">
        </div>
        <div class="input-wrapper button-wrapper">
          <button class="indots-button green" type="submit" name="submit">Suscribirme</button>
        </div>
        <div class="loader indots-loader">
          <div class="ball-pulse-sync">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</footer>
