<nav>
  <div class="desktop-logo-container">
    <a href="/"><img src="/img/logo/logo-indots-menu.png" alt="Logo"></a>
  </div>
  <div class="menu-trigger">
    <span class="fa fa-bars"></span>
  </div>
  <div class="menu-container">
    <div class="mobile-logo-container">
      <a href="/"><img src="/img/logo/group-9@3x.png" alt="Logo"></a>
    </div>
    <div class="menu">
      <a href="/" class="menu-link {% if section == 'index' %}active{% endif %}">Inicio</a>
      <a href="/que-es-indots.html" class="menu-link {% if section == 'que-es-indots' %}active{% endif %}">Qué es InDots</a>
      <a href="/nuestros-cursos.html" class="menu-link {% if section == 'nuestros-cursos' %}active{% endif %}">Nuestros cursos</a>
      <a href="flash-indots.html" class="menu-link flash-indots-icon-title {% if section == 'flash-indots' %}active{% endif %}">Flash InDots</a>
      <a href="contacto.html" class="menu-link {% if section == 'contacto' %}active{% endif %}">Contacto</a>
    </div>
  </div>
</nav>