nav
  background white
  display flex
  align-items center
  padding 0 remify(40)
  height 78px
  left 0
  position fixed
  top 0
  width 100%
  z-index 12
  simple-border('bottom', 1px, $lightergray)

  .menu-trigger,
  .mobile-logo-container
    display none

  .menu-trigger
    color $blue

  .desktop-logo-container
    padding-top remify(5)
    img
      width remify(150)

  .menu-container
    flex-grow 1
    font-size remify(19)
    text-align right
    height 100%

  .menu
    height 100%

  .menu-link
    color $darkgray
    display inline-block
    font-size remify(18)
    vertical-align middle
    simple-border('bottom', 4px, transparent)
    line-height 74px
    padding 0 0.7em

    &:hover, &.active
      simple-border('bottom', 4px, $blue)