nav
  background white
  display flex
  align-items center
  padding 0 remify(40)
  height 78px
  left 0
  position fixed
  top 0
  width 100%
  z-index 12
  simple-border('bottom', 1px, $lightergray)

  .menu-trigger,
  .mobile-logo-container
    display none

  .menu-trigger
    color $blue

  .desktop-logo-container
    height 63%

    img
      height 100%

  .menu-container
    flex-grow 1
    font-size remify(19)
    text-align right
    height 100%

  .menu
    height 100%

  .menu-link
    color $darkgray
    display inline-block
    font-size remify(18)
    vertical-align middle
    simple-border('bottom', 4px, transparent)
    line-height 74px
    padding 0 0.7em

    &:hover, &.active
      simple-border('bottom', 4px, $blue)

    &.flash-indots-icon-title::before
      height remify(13)
      width remify(9.2)
      margin-top remify(-2)
      margin-right remify(2.5)

@media screen and (max-width: 1064px)
  nav
    justify-content space-between
    height 56px
    padding 0 18px

    .mobile-logo-container
      display block
      center-block()
      width 70%

      img
        width 100%

    .menu-trigger
      display block
      float right
      margin 18px 0
      font-size 18px

    .menu-container
      background $blue
      height 100vh
      margin-right 0
      overflow-y auto
      position fixed
      right -280px
      top 0
      transition right 0.2s
      width 280px
      padding-top 25px

      &.active
        right 0
        box-shadow 0 0 10px $darkgray

      .menu
        margin-top 30px
        text-align left
        height auto

      .menu-link
        color white
        display block
        font-size remify(18)
        margin-left 0 !important
        height auto
        line-height 1
        padding 1em 2em
        border none
        simple-border('left', 4px, transparent)

        &:hover, &:active, &.active
          background lightness($blue, 30%)
          simple-border('left', 4px, white)