*
  box-sizing border-box

html
  color $darkgray
  font-family 'Avenir'
  font-weight $medium
  font-size unit($baseFontSize, 'px')

  @media screen and (max-width: 768px)
    font-size 14.5px

  @media screen and (max-width: 480px)
    font-size 13px

body
  color inherit
  font-family inherit
  font-weight inherit
  font-size inherit

  .noscroll
    overflow hidden

    &::after
      content ' '
      opacity 1
      z-index 9

input, button, textarea
  font-family inherit

#page
  margin 0
  overflow hidden
  padding 0

main
  margin-top 78px

a
  &, &:focus, &:hover, &:active
    text-decoration none

h1, h2, h3, h4
  margin 0

p
  margin-top 0

.blue-title
  color $blue
  font-weight $heavy
  font-size remify(36)
  margin 0

.indots-loader
  display none
  text-align center
  width 100%

  &:not(.vertical-center) .ball-pulse-sync
    margin-top 30px

  .ball-pulse-sync
    div:not(.blue)
      background $btngreen

    div.blue
      background #00577b

.button-wrapper.disabled,
button[type="submit"][disabled]
  display none

  & + .indots-loader
    &:not(.vertical-center)
      display block

    &.vertical-center
      display flex
      height 100%

label.error
  color #ff3636
  display block
  padding-top 0.3em

.form-message
  i, span
    display inline-block

  span
    margin-left 0.5em

  &.error
    color #ff3636

  &.success
    color #149a14

  &.succes, &.error
    margin-top 1em

.input-wrapper
  display block
  text-align left
  width 100%

  input, textarea
    line-height 1
    width 100%

.indots-button
  cursor pointer
  border-radius 5px
  font-weight $heavy
  color white
  border none
  line-height 1
  padding 1.2em 2.8em

  &, &:hover, &:active, &:hover
    box-shadow none
    outline none

  &.green
    background $btngreen

    &:hover, &:active &:focus
      background lightness($btngreen, 50%)

  &.dark-green
    background $btndarkgreen

    &:hover, &:active, &:focus
      background lightness($btndarkgreen, 45%)

  &.blue
    background #00577b

    &:hover, &:active, &:focus
      background lightness(#00577b, 30%)

  &.light-blue
    background $lightblue

    &:hover, &:active, &:focus
      background $blue

.contact-input
  color $gray
  simple-border('all', 0.5px, $lightergray)
  padding 1em 2em

  &, &:hover, &:active &:focus
    box-shadow none
    outline none

  &::placeholder
    color rgba($gray, 0.86)
    font-family inherit
    font-weight $normal

textarea
  resize none

.flash-indots-icon-title::before
  content ' '
  background-image url(../img/icons/flash.png)
  background-size 100%
  background-repeat no-repeat
  display inline-block
  vertical-align middle

@media screen and (max-width: 876px)
  main
    margin-top 56px

@media screen and (max-width: 480px)
  .input-wrapper
    text-align center

@import 'partials/navbar'

@import 'partials/footer'