@font-face
  font-family 'Avenir'
  font-style normal
  font-weight $medium
  src url('../fonts/AvenirLTStd-Medium.woff') format('woff')

@font-face
  font-family 'Avenir'
  font-style normal
  font-weight $black
  src url('../fonts/AvenirLTStd-Black.woff') format('woff')

@font-face
  font-family 'Avenir'
  font-style normal
  font-weight $book
  src url('../fonts/AvenirLTStd-Book.woff') format('woff')

@font-face
  font-family 'Avenir'
  font-style normal
  font-weight $heavy
  src url('../fonts/AvenirLTStd-Heavy.woff') format('woff')

@font-face
  font-family 'Avenir'
  font-style normal
  font-weight $light
  src url('../fonts/AvenirLTStd-Light.woff') format('woff')

@font-face
  font-family 'Avenir'
  font-style italic
  font-weight $book
  src url('../fonts/AvenirLTStd-BookOblique.woff') format('woff')

@font-face
  font-family 'Avenir'
  font-style normal
  font-weight $normal
  src  url('../fonts/AvenirLTStd-Roman.woff') format('woff')